{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="card">

    <h1>User Login 🔐</h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">

            Login

        </button>

    </form>

    <br>

    <p>

        Don't have an account?

        <a href="/register/">

            Register Here

        </a>

    </p>

</div>

</body>

</html>